body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #333;
}

input, button {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #2980b9;
}

label {
    display: block;
    margin-bottom: 5px;
}

.password-strength {
    height: 10px;
    margin-top: 5px;
}

.password-weak {
    background-color: #e74c3c;
}

.password-medium {
    background-color: #f39c12;
}

.password-strong {
    background-color: #2ecc71;
}

/* Estilos específicos para dispositivos móviles */

@media only screen and (max-width: 767px) {
    .container {
        width: 90%;
    }
}

/* Estilos específicos para tablets */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 80%;
    }
}

/* Estilos específicos para PC */

@media only screen and (min-width: 1024px) {
    /* Puedes agregar estilos específicos para PC aquí */
}

/* Agrega estilos para el historial */

#passwordHistory {
    margin-top: 20px;
}

#passwordHistory h3 {
    color: #333;
}

.password-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
}

.password-item:hover {
    background-color: #f9f9f9;
}

.password-item span {
    flex-grow: 1;
    margin-right: 10px;
}

.password-weak {
    color: #e74c3c;
}

.password-medium {
    color: #f39c12;
}

.password-strong {
    color: #2ecc71;
}


/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    body {
        background-size: cover; /* Otra definición para la imagen de fondo en dispositivos móviles si es necesario */
    }
}

/* Estilos específicos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        /* Puedes ajustar la imagen de fondo para tablets aquí si es necesario */
    }
}

/* Estilos específicos para PC */
@media only screen and (min-width: 1024px) {
    body {
        /* Puedes ajustar la imagen de fondo para PC aquí si es necesario */
    }
}